{{ define "main" }}

<!-- Main Title -->
{{ if .Title }}
<div class="main-title" data-lg-reveal="fade-to-top">
  <img src="/principal.jpg" alt="avatar" />
  <div class="" >
    <p> Personal blog by <a href="https://github.com/twentyse7en">twentyse7en</a> </p>
    <p> Mostly programming notes, sometimes other stuff</p>
  </div>
</div>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
<!---->{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages }}
<article class="post-entry" data-lg-reveal="fade-to-top">
  <time> > {{ .Date | time.Format ":date_medium" }}</time>
  <h2>{{ .Title }}</h2>
  <a href="{{ .Permalink }}"></a>
</article>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="main-nav" data-lg-reveal="fade-to-top">
  {{ if $paginator.HasPrev }}
  <a class="prev" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="next" href="{{ $paginator.Next.URL }}">{{ i18n "next_page" }} →</a>
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
