{{ define "main" }}

<!-- Main Title -->
{{ if .Title }}
<div class="main-title" data-lg-reveal="fade-to-top">
  <img src="/principal.jpg" alt="avatar" />
  <div class="" >
    <p> Personal blog by <a href="https://github.com/twentyse7en">twentyse7en</a> </p>
    <p> Mostly programming notes, sometimes other stuff</p>
  </div>
</div>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}
<!---->{{ if .IsHome }} {{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ end }}

<!-- Articles -->
{{ range $index, $page := $pages }}
<article class="post-entry" data-lg-reveal="fade-to-top">
  <time>
    <span>{{ .Date | time.Format ":date_medium" }}</span>
    <span>  ·  </span>
    <span>{{ .Content | countwords }} words</span>
  </time>
  <a class="article-entry" href="{{ .Permalink }}">
    <h2>{{ .Title }}</h2>
  </a>
  <!-- Post Tags -->
  {{ if .Params.tags }}
  <div class="index-tags">
    {{ range .Params.tags }}
      {{ $href := print (absURL "tags/") (urlize .) }}
        <a href="{{ $href }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end }}
</article>
{{ end }}

{{ end }}
